<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPY2OKj6i60SLW7-VYlCg7f6wLC5nBfjE</string>
	<key>GCM_SENDER_ID</key>
	<string>651646082920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spiderindia.habitmobile</string>
	<key>PROJECT_ID</key>
	<string>spider-habit</string>
	<key>STORAGE_BUCKET</key>
	<string>spider-habit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651646082920:ios:8e188b924d20f0dd1980dd</string>
</dict>
</plist>